<div id="page_wrapper">
  <div id="profolio_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Maria Hsiao</h1>
    <p>Welcome to my personal blog.</p>
    <p>In this blog, i will post everything i have done before.</p>
    <p>If you'd like to follow along as I learn more ruby on rails and articles, find me on Twitter <a href="https://twitter.com/Maria_Hsiao">@MariaHsiao</a> or Facebook <a href="https://www.facebook.com/iambasketballmaria">MariaHsiao</a>.</p>
  </div>
</div>
